@import "typo";
@import "couleurs";
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans+Narrow:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Courgette&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans+Narrow:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Lato';
    display: flex;
    flex-direction: column;
    color: white;

    .background-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: -1;
        /* Place le fond derrière le contenu */

        .background-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            /* Couvre toute la zone sans déformer l'image */
            filter: blur(1rem);
            /* Applique un flou de 8 pixels */
        }

        .background-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(20, 20, 20, 0.8);
        }

    }


    header {
        display: flex;
        flex-direction: column;
        position: relative;

        .topbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 3rem;
            background-image: linear-gradient(to bottom, #000000, transparent);

            a {
                text-decoration: none;
            }

            .Netflix {
                color: red;
                font-family: 'Bebas Neue';
                font-size: 3rem;
            }

            a:nth-child(2) {
                background-color: white;
                color: black;
                padding: 0.5rem 1.5rem;
                border-radius: 100px;
                font-weight: bold;
            }
        }


    }

    nav {
        display: flex;
        padding: 0 1rem;
        border-radius: 100px;
        background-color: rgba(0, 0, 0, 0.6) ;
        backdrop-filter: blur(10px);
        width: max-content;
        margin: 0 auto;
        position: sticky;
        top: 2rem;
        z-index: 1000;

        a {
            padding: 0.5rem 0;
            margin: 0.2rem 1.25rem;
            text-decoration: none;
            color: white;
            opacity: 0.6;
        }

        a:hover {
            opacity: 1;
        }
    }

    main {
        width: 95%;
        margin: 0 auto;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .title {
            background-image: linear-gradient(to top, rgb(19, 19, 19),  transparent), url(/img/img-principal.webp);
            background-size: cover;
            height: 100vh;
            display: flex;
            justify-content: space-between;
            align-items: end;
            padding: 3rem 5rem;
            border-top: 1px solid white;
            /* Bordure blanche en haut */
            border-left: 1px solid white;
            border-radius: 15px;
            /* Bordure blanche à gauche */

            div:nth-of-type(1) {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                img:nth-of-type(1) {
                    width: 5rem;
                    margin: 0 auto;
                }

                img:nth-of-type(2) {
                    width: 18rem;
                    margin: 0 auto;
                }

                a {
                    background-color: red;
                    width: max-content;
                    margin: 0 auto;
                    padding: 0.5rem 4rem 0.7rem 4rem;
                    border-radius: 1rem;
                    text-decoration: none;
                    color: white;
                }

                p {
                    font-size: 0.9rem;
                    width: max-content;
                    margin: 0 auto;

                }
            }

            div:nth-of-type(2) {
                a {
                    text-decoration: none;
                    color: white;

                    p{
                    background-color: rgba(0, 0, 0, 0.5);
                    padding: 0.5rem 2rem;
                    border: 1px gray solid;
                    font-size: 1.5rem;
                    border-radius: 100px;
                    
                    i{
                        margin-right: 1rem;
                        // padding: 0.5rem;
                        // border: 1px white solid;
                        // border-radius: 50%;
                    }
                    }

                    p:hover{
                        border: 1px white solid;
                    }
                }
            }

        }

        .description{

        }
    }
}