@import "typo";
@import "couleurs";
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans+Narrow:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Courgette&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans+Narrow:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Lato';
    display: flex;
    flex-direction: column;
    color: white;

    .background-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: -1;
        /* Place le fond derrière le contenu */

        .background-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            /* Couvre toute la zone sans déformer l'image */
            filter: blur(1rem);
            /* Applique un flou de 8 pixels */
        }

        .background-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(20, 20, 20, 0.8);
        }

    }


    header {
        display: flex;
        flex-direction: column;
        position: relative;

        .topbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 3rem;
            background-image: linear-gradient(to bottom, #000000, transparent);

            a {
                text-decoration: none;
            }

            .Netflix {
                color: red;
                font-family: 'Bebas Neue';
                font-size: 3rem;
            }

            a:nth-child(2) {
                background-color: white;
                color: black;
                padding: 0.5rem 1.5rem;
                border-radius: 100px;
                font-weight: bold;
            }
        }


    }

    nav {
        display: flex;
        padding: 0 1rem;
        border-radius: 100px;
        background-color: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(10px);
        width: max-content;
        margin: 0 auto;
        position: sticky;
        top: 2rem;
        z-index: 1000;

        a {
            padding: 0.5rem 0;
            margin: 0.2rem 1.25rem;
            text-decoration: none;
            color: white;
            opacity: 0.6;
        }

        a:hover {
            opacity: 1;
        }
    }

    main {
        width: 95%;
        margin: 0 auto;
        margin-top: 2rem;

        .title {
            background-image: linear-gradient(to top, rgb(39, 39, 39), transparent), url(/img/img-principal.webp);
            background-size: cover;
            height: 100vh;
            display: flex;
            justify-content: space-between;
            align-items: end;
            padding: 3rem 5rem;
            border-top: 1px solid white;
            /* Bordure blanche en haut */
            border-left: 1px solid white;
            border-radius: 15px;
            /* Bordure blanche à gauche */

            div:nth-of-type(1) {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                img:nth-of-type(1) {
                    width: 5rem;
                    margin: 0 auto;
                }

                img:nth-of-type(2) {
                    width: 18rem;
                    margin: 0 auto;
                }

                a {
                    background-color: red;
                    width: max-content;
                    margin: 0 auto;
                    padding: 0.5rem 4rem 0.7rem 4rem;
                    border-radius: 1rem;
                    text-decoration: none;
                    color: white;
                }

                p {
                    font-size: 0.9rem;
                    width: max-content;
                    margin: 0 auto;

                }
            }

            div:nth-of-type(2) {
                a {
                    text-decoration: none;
                    color: white;

                    p {
                        background-color: rgba(0, 0, 0, 0.5);
                        padding: 0.5rem 2rem;
                        border: 1px gray solid;
                        font-size: 1.5rem;
                        border-radius: 100px;

                        i {
                            margin-right: 1rem;
                            // padding: 0.5rem;
                            // border: 1px white solid;
                            // border-radius: 50%;
                        }
                    }

                    p:hover {
                        border: 1px white solid;
                    }
                }
            }

        }

        .margin {
            width: 80%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            margin-top: 2rem;

            .description {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                background-color: rgba(255, 255, 255, 0.1);
                backdrop-filter: blur(16px);
                padding: 1rem 2rem;
                border-radius: 1rem;

                .bold {
                    font-weight: bold;
                    display: flex;
                    gap: 1rem;
                    align-items: center;

                    span {
                        color: gray;
                    }
                }

                div {
                    display: flex;
                    gap: 1rem;

                    p {
                        width: 50%;
                    }

                    p:nth-of-type(1) {
                        border-right: 1px solid gray;
                    }
                }
            }

            #video {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .video {
                    display: flex;
                    justify-content: space-between;

                    .teaser {
                        div {
                            background-image: url(/img/teaser1.webp);
                            background-size: cover;
                            height: 10rem;
                            width: 18rem;
                            border-radius: 1rem;
                            display: flex;
                            justify-content: space-between;
                            align-items: flex-end;
                            padding: 1rem;

                            i {
                                border: 2px solid white;
                                padding: 0.5rem 0.5rem 0.5rem 0.7rem;
                                border-radius: 50%;
                            }

                            p {
                                background-color: rgba(0, 0, 0, 0.9);
                                backdrop-filter: blur(16px);
                                padding: 0 0.7rem;
                                border-radius: 0.3rem;
                            }
                        }

                        .teaser-2 {
                            background-image: url(/img/teaser-2.jpg);
                        }

                        .teaser-3 {
                            background-image: url(/img/bande-annonce.webp);
                        }

                        h3{
                            text-transform: uppercase;
                            color: gray;
                        }
                    }
                }
            }

            .info {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .info-2 {
                    display: flex;
                    gap: 0.5rem;

                    .info-3 {
                        background-color: rgba(255, 255, 255, 0.1);
                        backdrop-filter: blur(16px);
                        padding: 2rem 1rem;
                        border-radius: 1rem;
                        display: flex;
                        flex-direction: column;
                        gap: 0.5rem;
                        width: 100%;

                        h3 {
                            font-size: 1rem;
                        }

                        p {
                            color: gray;
                            font-weight: bold;
                        }
                    }
                }
            }

            #other-title {

                .fleche {
                    display: flex;

                    .photo {
                        display: flex;
                        gap: 1rem;
                        overflow-x: scroll;
                        scroll-behavior: smooth;
                        scrollbar-width: none;
                        scroll-snap-type: x mandatory;

                        img {
                            width: 10rem;
                            border-radius: 1rem;
                        }
                    }

                    a {
                        background-color: rgba(0, 0, 0, 0.5);
                        color: white;
                        border: none;
                        padding: 1rem;
                        cursor: pointer;
                        z-index: 10;
                        border-radius: 5px;
                        font-size: 1rem;
                        align-content: center;
                    }
                }
            }

            #offre {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .prix {
                    display: flex;
                    gap: 0.5rem;

                    div {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;
                        padding: 1rem;
                        border: 1px rgba(255, 255, 255, 0.3) solid;
                        border-radius: 1rem;

                        p {
                            display: flex;
                            gap: 1rem;
                        }
                    }

                    div:nth-of-type(1) {
                        background-image: linear-gradient(to right bottom, #1d529d, #273f7a, #252d59, #1d1d3a, #120c1f);
                    }

                    div:nth-of-type(2) {
                        background-image: linear-gradient(to right bottom, #792a95, #572779, #3a215b, #23193d, #120c1f);
                    }

                    div:nth-of-type(3) {
                        background-image: linear-gradient(to right bottom, #922556, #6d2252, #491f46, #2a1835, #120c1f);
                    }
                }
            }

            .sub {
                text-decoration: none;
                color: white;
                background-color: red;
                width: max-content;
                margin: 0 auto;
                padding: 0.5rem 3rem;
                border-radius: 100px;
                font-size: 1.2rem;
            }
        }
    }

    footer {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 5rem;
        width: 76%;
        margin: 0 auto;

        ul {
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;

            li {
                margin: 1rem 0;
                flex: 0 0 calc(25% - 10px);
                /* 2 éléments par ligne sur les petits écrans */
            }

            a {
                color: rgba(255, 255, 255, 0.7);

            }
        }

        div {
            select {
                width: max-content;
            }
        }
    }
}

@media (max-width:640px) {
    body {
        width: 100vw; // Assure une largeur égale à celle de l'écran
        margin: 0;
        padding: 0;
        overflow-x: hidden; // Évite les débordements horizontaux
        font-size: 16px; // Taille de police globale par défaut
        display: flex;
        flex-direction: column;

        .background-container {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;

            .background-image {
                object-fit: cover;
                filter: blur(0.5rem);
            }
        }

        header {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0.5rem 1rem;

            .topbar {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0.5rem;
                width: 100%;

                .Netflix {
                    font-size: 2rem;
                    color: red;
                }

                a:nth-child(2) {
                    background-color: white;
                    color: black;
                    padding: 0.3rem 1rem;
                    font-size: 0.9rem;
                    border-radius: 100px;
                    text-decoration: none;
                }
            }
        }

        nav {
            border-radius: 10px;
            display: flex;
            justify-content: center;
            gap: 0.5rem;
            padding: 0;
            top: 2rem;

            a {
                padding: 0.3rem 0.5rem;
                font-size: 0.9rem;
                line-height: 1.2;
                text-align: center;
                max-width: 90px;
                text-decoration: none;
                color: white;
                opacity: 0.6;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            a:hover {
                opacity: 1;
            }
        }

        main {
            width: 95%;
            margin: 0 auto;
            margin-top: 1rem;

            .title {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: end;
                gap: 1rem;
                padding: 1rem;
                background-size: 100vh;
                background-position: center;
                height: 60vh;

                div:nth-of-type(1) {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 1rem;

                    img:nth-of-type(1) {
                        width: 3rem;
                    }

                    img:nth-of-type(2) {
                        width: 12rem;
                    }

                    a {
                        padding: 0.4rem 2rem;
                        font-size: 0.9rem;
                    }

                    p {
                        font-size: 0.8rem;
                        text-align: center;
                    }
                }

                div:nth-of-type(2) {
                    a {
                        text-decoration: none;

                        p {
                            padding: 0.4rem 1.5rem;
                            font-size: 1rem;
                            text-align: center;
                        }
                    }
                }
            }

            .margin {
                width: 90%;
                gap: 1rem;

                .description {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    background-color: rgba(255, 255, 255, 0.1);
                    backdrop-filter: blur(16px);
                    padding: 0.5rem 1rem;
                    border-radius: 1rem;

                    .bold {
                        display: flex;
                        align-items: flex-start;
                    }

                    div {
                        display: flex;
                        flex-direction: column;

                        p {
                            width: 100%;
                        }

                        p:nth-of-type(1) {
                            border-right: none;
                        }
                    }
                }

                .video {
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    .teaser div {
                        height: 8rem;
                        background-size: cover;
                        border-radius: 1rem;
                    }
                }

                .info {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;

                    .info-2 {
                        flex-direction: column;
                        .info-3 {
                            padding: 1rem 0.5rem;
                            background-color: rgba(255, 255, 255, 0.1);
                            border-radius: 1rem;

                            h3 {
                                font-size: 0.9rem;
                            }

                            p {
                                font-size: 0.8rem;
                            }
                        }
                    }
                }

                #other-title {
                    .photo {
                        display: flex;
                        gap: 0.5rem;
                        overflow-x: auto;

                        img {
                            width: 8rem;
                            border-radius: 1rem;
                        }
                    }

                    a {
                        padding: 0.5rem;
                        font-size: 0.8rem;
                    }
                }

                #offre {
                    display: flex;
                    flex-direction: column;

                    .prix {
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;

                        div {
                            padding: 0.5rem;
                            background-color: rgba(255, 255, 255, 0.1);
                            border-radius: 1rem;

                            p {
                                display: flex;
                                gap: 0.3rem;
                            }
                        }
                    }
                }

                .sub {
                    padding: 0.5rem 2rem;
                    font-size: 1rem;
                    text-align: center;
                    background-color: red;
                    color: white;
                    text-decoration: none;
                    border-radius: 100px;
                    margin: 1rem auto;
                }
            }
        }

        footer {
            margin: 2rem auto;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            width: 90%;

            ul {
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                li {
                    text-align: center;
                }

                a {
                    text-decoration: none;
                    color: rgba(255, 255, 255, 0.7);
                }
            }

            div {
                select {
                    font-size: 0.8rem;
                }
            }
        }

        @media (max-width: 640px) {
            // Toutes les adaptations spécifiques à mobile (déjà incluses ici)
        }
    }

}